body {
    background: #f8f8f8;
}

.product_title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.product_text {
    padding-right: 20px;
}

.product_desc {
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.errorlist li {
    color: red;
    font-weight: bold;
}

.custom_div {
    margin-bottom: 20px !important;
}