{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }} - Log In
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1 class="product_title text-center">
            Login or Create a new account
        </h1>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center custom_div">
                <br>
                <h2 class="product_title">New user</h2>
                <br>
                <a href="{% url 'shop:sign_up' %}" class="btn btn-secondary">Create new user</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center bg-light">
                <div>
                     <br>
                <h2 class="product_title">Registered users only</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                         <button type="submit" name="button" class="btn btn-secondary">Log In</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}