<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'shop:home' %}">Ecommerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in links %}
                            <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        {% endfor %}
                        {% if links %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'shop:home' %}">All products</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:contacts' %}">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:about' %}">About</a>
                </li>
                {% if request.user.is_authenticated and request.user.first_name %}
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center">Welcome, {{ request.user.first_name }}<i class="material-icons">account_circle</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="{% url 'shop:log_out' %}">Log out<i class="material-icons">exit_to_app</i></a>
                    </li>
                {% else %}
                     <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="{% url 'shop:sign_up' %}">Sign up<i class="material-icons">add</i></a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="{% url 'shop:log_in' %}">Log in<i class="material-icons">login</i></a>
                    </li>
                {% endif %}

                {% if item_count %}
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="{% url 'shop:cart_detail' %}"><i class="material-icons">add_shopping_cart</i>({{ item_count }})</a>
                    </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'shop:search' %}" method="get">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit"><i class="material-icons md-16">search</i></button>
            </form>
        </div>
    </nav>
</header>