{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - About
{% endblock %}

{% block content %}
    <h1 class="mx-auto text-center mt-3">About</h1>
    <br>
    <p class="mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa excepturi
        illo ipsum labore laboriosam mollitia qui repudiandae. Assumenda error, illum labore maxime officiis praesentium
        quaerat tempore voluptatem. Alias aliquam distinctio eligendi error facere fugiat, itaque minus modi molestiae,
        nostrum numquam obcaecati perferendis provident quam qui reprehenderit unde voluptatibus. Ab commodi cupiditate
        dicta dolores illo ipsa iure, nesciunt nisi non, odio quaerat sapiente voluptas!</p>
{% endblock %}