{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Product detail
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-10 mx-auto col-md-6 my-3">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
        </div>
    </div>
    <div class="col-10 mx-auto col-md-6 my-3">
        <div>
            <h1 class="product_title">{{ product.name }}</h1>
            <h5 class="text-info font-italic mb-4">${{ product.price }}</h5>
            <p class="product_desc">Product description</p>
            <p class="text-justify product_text">{{ product.description }}</p>
            {% if product.stock %}
                <a href="{% url 'shop:add_cart' product.id %}">Add to Cart <i
                        class="material-icons">add_shopping_cart</i></a>
            {% else %}
                <p class="text-justify product_text">Out Of Stock</p>
            {% endif %}
        </div>
    </div>
{% endblock %}