{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ block.super }} - Search
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for product in products %}
                <div class="col-9 mx-auto col-md-6 col-lg-3">
                    <div class="card mb-4">
                        <div class="p-4">
                            <a href="{{ product.get_absolute_url }}"><img class="card-img-top"
                                                                          src="{{ product.image.url }}"
                                                                          alt="{{ product.name }}"></a>
                        </div>
                        <div class="card-footer d-flex justify-content-between"
                             style="background: transparent; border-color: transparent;">
                            <p class="font-weight-bold mb-0">
                                {{ product.name }}
                            </p>
                            <h5 class="text-info font-italic mb-0">${{ product.price }}</h5>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h2 class="mx-auto text-center product_text">Ooops. Products by query not found....</h2>
            {% endfor %}
        </div>
    </div>

{% endblock %}